astroid==2.3.3
catkin-pkg==0.4.20
click==7.1.2
cycler==0.10.0
decorator==4.4.2
distro==1.5.0
docutils==0.16
easydict==1.9
empy==3.3.4
filterpy==1.4.5
fire==0.3.0
Flask==1.1.2
imageio==2.8.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.15.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
llvmlite==0.31.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
networkx==2.4
numba==0.43.1
numpy==1.18.2
opencv-python==4.2.0.32
Pillow==7.0.0
protobuf==3.11.3
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
rospkg==1.2.6
scikit-image==0.16.2
scikit-learn==0.19.2
scipy==1.4.1
six==1.14.0
tensorboardX==2.0
termcolor==1.1.0
threadpoolctl==2.1.0
torch==1.4.0
torchvision==0.5.0
tqdm==4.43.0
typed-ast==1.4.1
Werkzeug==1.0.1
wrapt==1.11.2
